In [1]:
#list of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# a dictionary of high schools and the type of school

high_school_types=[{"High School": "Griffin", "Type": "District"},
                  {"High School": "Figueroa", "Type": "District"},
                  {"High School": "Wilson", "Type": "charter"},
                  {"High School": "Wright", "Type": "District"}]
for type in high_school_types:
    print(type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'charter'}
{'High School': 'Wright', 'Type': 'District'}

In [3]:
#list of High Schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [4]:
import pandas as pd

In [5]:
#create a pandas series from a list
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [9]:
#initialize a new dataframe
schools_df = pd.DataFrame()

In [12]:
# Add the list to a new DataFrame.
school_df["School ID"] = school_id
schools_df

Empty DataFrame
Columns: []
Index: []

In [13]:
school_df["School Name"] = school_name
schools_df

Empty DataFrame
Columns: []
Index: []

In [16]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'School Name'], dtype='object')

In [18]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
school_df.values

array([[0, 'Huang High    School', 'District', 'Huang High School'],
       [1, 'Figueroa High School', 'District', 'Figueroa High School'],
       [2, 'Shelton High School', 'Charter', 'Shelton High School'],
       [3, 'Hernandez High School', 'District', 'Hernandez High School'],
       [4, 'Griffin High School', 'Charter', 'Griffin High School']],
      dtype=object)